canvas {
    border: 1px solid white;

    /* background-color: red; */
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    border: 1px solid rgb(5, 5, 5);
}

h1 {
    color: white;
}

